.small-margins {
  margin: 2px 2px 2px 2px;
}
.medium-margins {
  margin: 4px 4px 4px 4px;
}
.large-margins {
  margin: 8px 8px 8px 8px;
}
.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
.center-horizontally {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.pre-adequate {
  white-space: pre-wrap;
  word-break: keep-all;
  text-align: left;
}
.container-medium {
  max-width: 80%;
}
.container-small {
  max-width: 60%;
}
.node-container {
  max-width: 80%;
}
.node-body {
  text-align: left;
  font-size: 11.5pt;
}
.node-body-argument {
  text-align: left;
  font-size: 11.5pt;
  background-color: #ccffcc;
}
.node-body-counterargument {
  text-align: left;
  font-size: 11.5pt;
  background-color: #ffcccc;
}
.user-label {
  font-size: 11pt;
  color: #666666;
  background-color: #d2e6f5;
  border-radius: 5px;
  padding: 5px 7px;
}
.ul-nopadding {
  -webkit-padding-start: 0px;
}
/*# sourceMappingURL=youarg.css.map */